.streaming-now{
    -webkit-text-stroke: 0.5px #c688e8;
    color:transparent;
    font-weight: bold;
    opacity: 0.6;
}
.header-movie-title{
    letter-spacing: 6px;
}


/*Section Wise Carousel Css*/
.carousel__pagination{
    display: flex;
    justify-content: start;
}
.carousel__slide {
    padding: 5px;
}


.carousel__slide--sliding {
    transition: 0.5s;
}

.carousel__slide {
    opacity: 0.9;
//transform: rotateY(-20deg) scale(0.9);
}

.carousel__slide--prev {
    opacity: 1;
    transform: rotateY(-10deg) scale(0.95);
}

.carousel__slide--next {
    opacity: 1;
//transform: rotateY(10deg) scale(1.1);
}

.carousel__slide--active {
    opacity: 1;
//transform: rotateY(0) scale(1.1);
}
